<div class="col-md-6 container main-container">
  <form>
    <div class="imgcontainer">
      <img src="assets/yuxi_logo.png" alt="Yuxi Logo" class="avatar">
    </div>
    
    <div class="container form-group">
      <input type="text" placeholder="Email" class="form-control" value="daniel.florez@yuxiglobal.com" disabled>
      <input type="password" placeholder="Password" class="form-control" value="password" disabled>
      <button [routerLink]="['/list', '-KgOvbJnHXFFk9IBqbSb']" class="btn" id="login">Login</button>
    </div>
    
  </form>
</div>