/* You can add global styles to this file, and also import other style files */
.main-container{
    margin-top: 40px;
    margin-bottom: 150px;
  }
  
  .puntero{
    cursor: pointer;
  }
  
  .w120{
    width: 120px;
  }
  
  /* Animaciones */
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }






  /* Bordered form */
form {
  border: 3px solid #f1f1f1;
  border-radius: 15px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#login {
  background-color: #590044;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
}


nav {
  background-color: white;
  color:#590044;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  /*width: 80vw;*/
  margin: 0 auto;
  color: white;
}
.custom-btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }

.custom-btn:hover {
  background-position: right center; /* change the direction of the change here */
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.btn-1 {
  background-image: linear-gradient(to right, #590044 0%, #235779 51%, #468494 100%);
}

.btn-2 {
  background-image: linear-gradient(to right, #468494 0%, #235779 51%, #590044 100%);
}

.list-body {
  margin-left: 25px;
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.custom-list {
  border: 1px solid #468494;
  border-radius: 5px;
}

.star-icon:before {
  color: #590044 !important;
}

.btn-come-back {
  color: white;
  background-color: #590044;
}